
<div class="containter">
  <div class="row">
    <div class="col" style="text-align: center">
      <h1 style="color: #667">NOTICIAS</h1> <br><br>
    </div>
  </div>
  <% Post.where(category: "Noticias").each do |noticia| %>
  <div class="row">
    <div class="col-3">
      <%= noticia.thumbnail %>
    </div>

    <div class="col-9">

      <div class="container">
        <div class="row">
          <div class="col">
            <h2><%= link_to noticia.title, noticia %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= strip_tags(noticia.content)[0..500] + " ..." %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>

  <% end %>
</div>
