
<% if user_signed_in? %>
	<div class="row">
		<div class="col-lm-3"><p>Estas conectado como: <%= current_user.email %></p></div>
  		<div class="col-lm-3"><%= button_to('Logout', destroy_user_session_path, method: :delete) %></div>
  	</div>
<% else %>
	<div class="row">
		<div class="col-lm-3">Actualmente no estás conectado</div>
  		<div class="col-lm-3"><%= link_to('Log-in', new_user_session_path) %></div>
		<div class="col-lm-3"><%= link_to('Sign-in', new_user_registration_path)  %></div>
	</div>
<% end %>
